.header{
    
    height: 300px;
    background-image: url('Hero-bg.png');
    background-size: cover;

}
nav ul{
    display: flex;
    justify-content: space-between;
    margin: 0 150px;

}
nav li a{
    text-decoration: none;
    font-size: 36px;
    color: #4E47FF;
    

}
nav li{
    list-style: none;
    margin: 10px;
    
    
}
nav li button{
    background-color: #4E47FF;
    color: #ffffff;
    border-radius: 9px ;
    border: solid #4E47FF;
    padding: 12px 30px;
    
}
/* Font adding */
.raleway-raleweee {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

.inter-intu {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}